<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hh="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sendungsinfo</title>
    <!--  Google Fonts > Schriftart Roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../css/main.css" rel="stylesheet"/>
</head>
<body>


<div class="container search-table">
    <!--    Für eventuelle folgende Sendungssuchen-->

    <div class="s01 s02">
        <form th:action="@{/sendungsSuche}"
              th:object="${neueSendung}" method="post">


            <div class="inner-form">

                <div class="input-field first-wrap">
                    <input id="search" type="text"
                           autocomplete="off"
                           placeholder="Sendungsnummer" th:field="*{sendungNummer}"
                           autofocus required minlength="1" maxlength="2"
                           oninvalid="setCustomValidity('Bitte geben Sie eine gültige Sendungsnummer ein')"
                           oninput="setCustomValidity('')"
                           onfocus="this.value=''"/>
                </div>

                <div class="input-field third-wrap">
                    <button name="action" value="Suchen" class="btn-search">Suchen</button>
                </div>
                
            </div>
        </form>


    </div>


        <div th:if="${gefundeneSendung.getSendungNummer() != null}"  class="search-list">
            <h3>Details zur Sendung:</h3>

            <table class="table" id="myTable">




                <tr>
                    <td>Sendungsnummer</td>
                    <td th:text="${gefundeneSendung.getSendungNummer()}"></td>
                </tr>
                <tr>
                    <td>Lieferstatus</td>
                    <td th:text="${gefundeneSendung.getLieferstatus()}"></td>
                </tr>
                <tr>
                    <td>Lieferzeitpunkt</td>
                    <td th:utext="${gefundeneSendung.getLieferdatum()}"></td>
                </tr>
                <tr>
                    <td>Lieferadresse</td>

                    <td th:utext="${empfaenger.getVorName() + ' ' + empfaenger.getNachName() +
                '<br>' + empfaenger.getStrasse() +
                ' ' + empfaenger.getHausNummer() +
                '<br>' + empfaenger.getPlz() +
                ' ' + empfaenger.getStadt() +
                '<br>' + empfaenger.getLand()}"></td>

                </tr>
                <tr>
                    <td>Versandart</td>
                    <td th:text="${gefundeneSendung.getVersandArt().toString()}"></td>
                </tr>
                <tr>

                    <td>Absender</td>
                    <td th:utext="${absender.getVorName()  + ' ' + absender.getNachName()  + ' ' +

                '<br>' + absender.getStrasse() + ' ' + absender.getHausNummer() +
                '<br>' + absender.getPlz() + ' ' + absender.getStadt() +
                '<br>' +  absender.getLand()}"></td>
                </tr>
                <tr>
                    <td>Paketabgabe</td>
                    <td th:text="${gefundeneSendung.getAbgabedatum()}"></td>
                </tr>


            </table>

        </div>

        <div th:unless="${gefundeneSendung.getSendungNummer() != null}" class="search-list">
            <h5 align="center" >Sendung nicht gefunden?</h5>
            <table class="table" id="myTable1">
                <tr align="center">
                    <td h5>Versuchen Sie es erneut oder nutzen Sie unsere <a th:href="@{/hilfe}">Hilfe</a>-Seite.</td>

            </table>

        </div>
    </form>
</div>


</body>


</html>